<div class="container-fluid">
    <h1>Habilidades</h1>
<div class="row">
   
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="80" 
            [radius]="100" 
            [title]="'Postgresql'" 
            [showSubtitle]="false"
            [showUnits]="false"
            [showInnerStroke]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2" 
            [outerStrokeColor]="'#FF6347'"
            [innerStrokeColor]="'#32CD32'" 
            [backgroundGradientStopColor]="'#c0c0c0'" 
            [backgroundOpacity]="1"
            [backgroundGradient]="true" 
            [backgroundColor]="'#ffffff'" 
            [backgroundPadding]="-10" 
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div> 

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="60" 
            [radius]="100" 
            [title]="'Java'" 
            [showSubtitle]="false"
            [showUnits]="false" 
            [showInnerStroke]="false"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2" 
            [outerStrokeColor]="'#61A9DC'" 
            [innerStrokeColor]="'#32CD32'"
            [backgroundGradientStopColor]="'#c0c0c0'" 
            [backgroundOpacity]="1" 
            [backgroundGradient]="true"
            [backgroundColor]="'#ffffff'" 
            [backgroundPadding]="-10" 
            [animation]="true" 
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="70" 
            [radius]="100" 
            [title]="'HTML5'" 
            [showSubtitle]="false"
            [showUnits]="false" 
            [showInnerStroke]="false"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2" 
            [outerStrokeColor]="'#78C000'" 
            [innerStrokeColor]="'#32CD32'"
            [backgroundGradientStopColor]="'#c0c0c0'" 
            [backgroundOpacity]="1" 
            [backgroundGradient]="true"
            [backgroundColor]="'#ffffff'" 
            [backgroundPadding]="-10" 
            [animation]="true" 
            [animationDuration]="300">
        </circle-progress>
    </div>    
	<div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="70" 
            [radius]="100" 
            [title]="'Bootstrap'" 
            [showSubtitle]="false"
            [showUnits]="false"
            [showInnerStroke]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2" 
            [outerStrokeColor]="'#FDB900'"
            [innerStrokeColor]="'#32CD32'" 
            [backgroundGradientStopColor]="'#c0c0c0'" 
            [backgroundOpacity]="1"
            [backgroundGradient]="true" 
            [backgroundColor]="'#ffffff'" 
            [backgroundPadding]="-10" 
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="100" 
            [radius]="100" 
            [title]="'Visual Foxpro'" 
            [showSubtitle]="false"
            [showUnits]="false"
            [showInnerStroke]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2" 
            [outerStrokeColor]="'#4882c2'"
            [innerStrokeColor]="'#32CD32'" 
            [backgroundGradientStopColor]="'#c0c0c0'" 
            [backgroundOpacity]="1"
            [backgroundGradient]="true" 
            [backgroundColor]="'#ffffff'" 
            [backgroundPadding]="-10" 
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>    
</div>
</div>