<div class="row">
    <h1>Educacion</h1>   

    <div class="col-lg-11" >
        <ul>
            <li>
                <h3>Licenciado en Informatica</h3>
                <h5>2008-2012</h5>
                <p>Universidad Blas Pascal. Córdoba. Pcia. Córdoba.</p>
            </li>

            <li>
                <h3>Analista de Sistemas</h3>
                <h5>1992-1994</h5>
                <p>Instituto Leibnizt. Villa Maria. Pcia. Córdoba.</p>
            </li>
        </ul>

    </div>
</div>

