<div class="row">
    <h1>Experiencia Laboral</h1>   

    <div class="col-lg-11" >
        <ul>
            <li>
                <h3>Fundador de KompassIT</h3>
                <h5>(2016 a la Fecha)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vitae, cumque blanditiis enim fugit, neque facilis eaque quae amet autem quam ea reiciendis dicta quod, quos necessitatibus adipisci mollitia molestiae.</p>
            </li>

            <li>
                <h3>Desarrollador Senior</h3>
                <h5>(2005 a 2016)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vitae, cumque blanditiis enim fugit, neque facilis eaque quae amet autem quam ea reiciendis dicta quod, quos necessitatibus adipisci mollitia molestiae.</p>
            </li>

            <li>
                <h3>Desarrollador</h3>
                <h5>(1996 a 2005)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia vitae, cumque blanditiis enim fugit, neque facilis eaque quae amet autem quam ea reiciendis dicta quod, quos necessitatibus adipisci mollitia molestiae.</p>
            </li>

        </ul>

    </div>
</div>
