<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <img src="../../../assets/FotoPerfil.png" class="img-fluid" id="fotoperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <p id="nombre">Fernando Aguada</p>
        <p>Developer Full Stack jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
        <span>
            <h1>Sobre mi</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, blanditiis at perspiciatis tenetur reiciendis tempore ex expedita explicabo maxime debitis ad pariatur impedit facilis, natus suscipit error aut dolore molestias?</p>
        </span>
    </div>
</div>