.row{
    padding: 20px;
}
div{
    background-color:#b2e2f2;
    text-align: center;
}

#nombre{
    font-weight: bold;
    margin-top: 30%;
    font-size:25px;
}

#fotoperfil{
    border-radius: 5%;
    box-shadow: 3px 3px 3px grey;
}

@media(min-width:576px){
  

}

