<div class="container-fluid">
    <div class="row uno">
        <div class="col">
            <h1>Proyectos Realizados</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7">
            <h2>Proyecto 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea repudiandae sed doloremque deleniti at
                fugit
                optio saepe soluta accusantium mollitia harum recusandae, necessitatibus unde est tempore, assumenda
                incidunt quidem itaque.</p>
        </div>
    </div>
</div>