<div class="container-fluid">
    <div class="row">
        <div class="col columna">
            <div class="logo">
                <img src="../../../assets/APLogo.png" alt="Logo Argentina Programa" id="logo">
            </div>
            <div class="redes">
                <a href=""><img src="../../../assets/linkedin.png" alt="Logo Linkedin" id="linkedin"></a>
                <a href=""><img src="../../../assets/facebook.png" alt="Logo Facebook" id="facebook"></a>
                <a href=""><img src="../../../assets/github.png" alt="Logo Git" id="git"></a>
                <button type="button" class="btn btn-outline-light">Ingresar</button>
            </div>
        </div>
    </div>
</div>